 section {
 	width: 100vw;
 	height: 100vh;
 }

.container {
	background-color: #f6f6f6;
	min-height: 100%;
}

.tab button {
 	font-size: 20px;
 	font-weight: 400;
 	border: 1px solid #ccc;
 	background-color: #d8d8d8;
 	width:100%;
 	text-align: start;
 	border: none;
 	outline: none;
 	border-radius: 5px;
 	cursor: pointer;
 	padding: 14px 16px;
 	transition: 0.3s;
}

.tab button:hover {
 	background-color: #ddd;
}

.tab button.active {
 	background-color: #04a9f0;
 	color: #f1f1f1;
}

.tab-content {
 	display: none;
 	border: 1px solid #ccc;
 	background-color: #e8e8e8;
	min-height: 70%;
}

input:focus{
	/* background-color: #04a9f0; */
	outline: none;
}


.address-form .form-control, .address-form .form-select{
	display: inline;
}

.address-form label {
   width: 18%;
}
.address-form .form-control, .address-form .form-select {
   width: 80%;
}
